{{!--<div class="entry" data-name="{{ name }}" data-version="{{ version }}">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h4 class="title">
        <a class='name icon-angle-right red' href='javascript:void(0)'>{{ name }}</a>
        <small class='version'>v{{ version }}</small>
      </h4>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="author pull-right">
        <small>By: {{ author.name }}</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="description">{{ description }}</p>
    </div>
  </div>
</div>--}}


<div class="list-group-item" data-name="{{ name }}" data-version="{{ version }}">
    <h4 class="package-name">
      <a class='name' href='javascript:void(0)'>{{ name }}/<span>By {{ author.name }}</span></a>

    </h4>
    <p class="package-description">{{ description }}</p>
    <div class="package-extra-info">
        <span><i class="fa fa-star"></i></span>
        <span class='version pull-right'>v {{ version }}</span>
    </div>
</div>